### Learning Python

#### 1. Data Types

In [ ]:
a = 'Aditya'
b = 25
c = 3.5

print(type(a),type(b),type(c))

In [ ]:
# to check datatype matches a certain type

isinstance(True, bool)

#### 2. User Input

In [ ]:
# basic user input
name = input("Please enter your name: ")
print("Hello, " + name)

In [ ]:

# taking input of other data types
age = int(input("Please provide your age: "))
print(f"You are {age} years old")

salary = float(input("Please enter your annual salary; "))
monthly_salary = salary/12
print(f"Your monthly salary is {monthly_salary} rupees")

In [ ]:

### Complex Inputs ###

x, y = map(int, input("Enter two numbers: ").split())
print(x + y)

In [ ]:

### Input with Validation ###

try:
    marks = float(input("Please enter your marks: "))
    print("Your marks: ", marks)

except ValueError:
    print("Invalid input. Please enter a number between 0-99")

In [ ]:

### Providing a list of data ###

prices = list(map(float,input("Enter prices separated by spaces: ").split()))
average_price = sum(prices)/len(prices)
print("Average Price: ",average_price)

#### Exercise 1: Take a number as input and print whether the number is positive ,negative or zero

In [ ]:
try:
    num = float(input("Please enter an number: "))
    if num >0:
        print("Positive")
    elif num <0:
        print("Negative")
    else:
        print("zero")
except ValueError:
    print("Invalid input! Please provide an number")

#### 3. Loops

In [ ]:
# for loop

# when using range upper limit is not inclusive

# for i in range(1,11):
#     print(i)

i=0
while i <10:
    print(i)
    i+=1

#### Exercise 2: Print all even numbers between 1 and 50

In [ ]:
for i in range(1,51):
    if i%2==0:
        print(i)
    else:
        continue

#### 4. Strings

In [ ]:
# check if one string is substring of another string
my_str = "Hello World!"

print("Hello" in my_str)
print("hey" in my_str)

#check length of a string
print(len(my_str))

# Strings are immutable: i.e. parts of string cannot be changed

In [ ]:
# String concatenation

str1 = 'Hello'
str2 = 'World'

new_str = str1 + ' ' + str2
print(new_str)

In [ ]:
# String Interpolation

num1 = 5
num2 = 10

print(f'The sum of {num1} and {num2} is equal to {num1+num2}')

In [ ]:
# String Slicing

print(my_str[0])
print(my_str[0:4]) # upper limit is not inclusive
print(my_str[:4])
print(my_str[6:]) 

#print(str[start:stop:step])

### reverse a string
print(my_str[::-1])

In [ ]:
# Strting Methods

print(my_str.upper())
print(my_str.lower())
print(my_str.split())
my_list = ['hello', 'world']
joined_my_str = ' '.join(my_list)
print(joined_my_str)
print(my_str.startswith('Hello'))
print(my_str.endswith('!'))

# other string methods: find, count, capitalize, isupper, islower, title

#### 5.List

In [ ]:
## List constructor

# developer = 'Aditya'
# print(list(developer)) # ['A', 'd', 'i', 't', 'y', 'a']

# num = [1,2,3,4,5]
# print(len(num))

## list are mutable
# programming_languages = ['Python', 'Java', 'C++', 'Rust']
# programming_languages[0] = 'JavaScript'
# print(programming_languages)  # ['JavaScript', 'Java', 'C++', 'Rust']

In [ ]:
## deleting items from list

developer = ['Jane Doe', 23, 'Python Developer']
del developer[1]
print(developer) # ['Jane Doe', 'Python Developer']

In [ ]:
### (in) is used to find if an element is part of list

programming_languages = ['Python', 'Java', 'C++', 'Rust']

print('Rust' in programming_languages) # True
print('JavaScript' in programming_languages) # False

In [ ]:
### Nested List

developer = ['Alice', 25, ['Python','C++','Rust']]
print(developer[2]) # ['Python', 'C++', 'Rust']
print(developer[2][1]) # C++

In [ ]:
## Unpacking values from list

developer = ['Alice', 34, 'Rust Developer']
name, age, job = developer

print(name) # 'Alice'
print(age) # 34
print(job) # 'Rust Developer'

developer = ['Alice', 34, 'Rust Developer']
name, *rest = developer

print(name) # 'Alice'
print(rest) # [34, 'Rust Developer']

In [ ]:
## Special ways of slicing
numbers = [1, 2, 3, 4, 5, 6]
numbers[1::2] # [2, 4, 6]

In [ ]:
### append(), sort(), pop()

numbers = [1,2,3,4,5]
numbers.append(6)
print(numbers)

numbers.pop()
print(numbers)

numbers = [3,2,1]
numbers.sort()
print(numbers)

In [ ]:
numbers = [1,2,3,4,5]
num2= [9,10,11]
numbers.append(num2) 
print(numbers) # [1, 2, 3, 4, 5, [9, 10, 11]]

## joining 2 list

num1 = [1,2,3]
num2 = [4,5,6]
num1.extend(num2)
print(num1) # [1, 2, 3, 4, 5, 6]

> insert(index,value): insert value at a specific index 
> remove(value): remove a specific value from list
> pop(index): remove value from a specific index
> clear(): clear the list of all values
> reverse(): reverse the order of elements of list
> index(): gives index of particular element of the list

#### 6.Tuples

In [ ]:
# Imutable list are tupes

developer = ('Alice',25,'Java')
print(type(developer)) # <class 'tuple'>

#### 7. Loops and Iterable objects

In [ ]:
lang = ['Rust','Python','C++','Java']
for l in lang:
    print(l)

In [ ]:
for char in 'code':
    print(char)

In [ ]:
categories = ['Fruit', 'Vegetable']
foods = ['Apple', 'Carrot', 'Banana']

for category in categories:
    for food in foods:
        print(category, food)

In [17]:
## enumerate

for index, value in enumerate(developer):
    print(f' Value at {index} is equal to {value}')

 Value at 0 is equal to Alice
 Value at 1 is equal to 25
 Value at 2 is equal to Java

In [18]:
## zip ()

developers = ['Naomi', 'Dario', 'Jessica', 'Tom']
ids = [1, 2, 3, 4]

for name, id in zip(developers, ids):
    print(f'Name: {name}')
    print(f'ID: {id}')

Name: Naomi
ID: 1
Name: Dario
ID: 2
Name: Jessica
ID: 3
Name: Tom
ID: 4

In [25]:
### List Comprehension

even_numbers = [num for num in range(1,21) if num%2==0]

print(even_numbers)

# num2 = [(num,'Even') if num%2==0 else (num,'Odd') for num in range(1,21)]
# print(num2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]